body {
    background-color: black;
}

h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
    text-decoration: underline;
    color: white;
}

.input-list {
    font-size: 30px;
    font-style: italic;
    background-color: gray;
}

.container {
    text-align: center;
    font-size: 25px;
    background-color:red;
    margin: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.options {
    list-style: none;
    padding-right: 500px;
}