body {
    background-color: green;
}

h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
    text-decoration: underline;
}

.input-list {
    font-size: 30px;
    font-style: italic;
    background-color: gray;
}

.container {
    text-align: center;
    font-size: 25px;
    background-color:greenyellow;
    margin: 100px;
}

.options {
    background-color: 
}